<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>My first application 🎉</p>
      <h2>Info, {{ data }}</h2>
      <h3>{{ info() }}</h3>
      <h3>{{ 2 * 3 }}</h3>
      <h2>{{ title == "myangular" }}</h2>
      <app-work></app-work>
      <app-modify></app-modify>
      <app-template></app-template>
      <app-both></app-both>
      <button (click)="back('munim bhai is great')" >Click me</button>
      <br><br> 
      <button (click)="call()">Hit me</button>
      <br><br>
      <!-- <input type="text" (keyup)="call(box.value)" placeholder="event keyup" /> -->
    </div>
  </div>
</main>
<router-outlet />
